<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="copyright">
        &copy; {{ currentYear }} Jorge Chavez. All rights reserved.
      </div>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/jorge-chavez-626587213/" target="_blank" class="social-link">
          <mat-icon>linkedin</mat-icon>
        </a>
        <a href="https://github.com/jchavez3019/PersonalWebsite2025" target="_blank" class="social-link">
          <mat-icon>code</mat-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
