<div class="projects-container">
  <h1>My Projects</h1>
  <p class="intro">
    Here are some of the projects I've worked on. Click on each project to learn more.
  </p>

  <div class="projects-grid">
    <mat-card class="project-card" *ngFor="let project of projects">
      <img mat-card-image [src]="project.image" [alt]="project.title">
      <mat-card-header>
        <mat-card-title>{{ project.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ project.description }}</p>
        <div class="technologies">
          <mat-chip-set>
            <mat-chip *ngFor="let tech of project.technologies">{{ tech }}</mat-chip>
          </mat-chip-set>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button color="primary" [href]="project.link" target="_blank" *ngIf="project.link">
          <mat-icon>open_in_new</mat-icon> View Project
        </a>
        <a mat-button color="primary" [href]="project.video" target="_blank" *ngIf="project.video">
          <mat-icon>movie</mat-icon> View Video
        </a>
        <a mat-button color="primary" [href]="project.pdf" target="_blank" *ngIf="project.pdf">
          <mat-icon>picture_as_pdf</mat-icon> View Report
        </a>
        <a mat-button color="accent" [href]="project.github" target="_blank" *ngIf="project.github">
          <mat-icon>code</mat-icon> View Code
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
