<mat-toolbar color="primary" class="navbar">
  <div class="container">
    <button mat-button class="logo" (click)="navigateTab('home')">
      <span>Jorge Chavez</span>
    </button>

<!--
The navigation bar will always appear at the top of the web application. In a desktop configuration, this
navigation bar will be filled with buttons that allow the user to navigate between different pages. However,
when the web application is viewed on a small device such as a phone, we hide these buttons and instead display
a single drawer button. This button can be toggled by the user to open and close an Angular Material Drawer that exists
in the `home.component.html` code.
-->
    <!-- Desktop Navigation -->
    <div class="desktop-nav">
      <button mat-button (click)="navigateTab('home')">
        Home
      </button>
      <button mat-button (click)="navigateTab('projects')">
        Projects
      </button>
<!--      TODO: Bring this back once the blog section is completed. -->
<!--      <a mat-button routerLink="/blog" routerLinkActive="active">-->
<!--        Blog-->
<!--      </a>-->
      <button mat-button (click)="navigateTab('papers')">
        Papers
      </button>
    </div>

    <!-- Mobile Navigation Toggle -->
    <button mat-icon-button class="mobile-menu-button" (click)="toggle()" aria-label="Toggle navigation menu">
      <mat-icon>{{ sidebarVisible ? 'close' : 'menu' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>
