<mat-toolbar color="primary" class="navbar">
  <div class="container">
    <button mat-button class="logo" (click)="navigateTab('home')">
      <span>Jorge Chavez</span>
    </button>

    <!-- Desktop Navigation -->
    <div class="desktop-nav">
      <button mat-button (click)="navigateTab('home')">
        Home
      </button>
      <button mat-button (click)="navigateTab('projects')">
        Projects
      </button>
<!--      TODO: Bring this back once the blog section is completed. -->
<!--      <a mat-button routerLink="/blog" routerLinkActive="active">-->
<!--        Blog-->
<!--      </a>-->
      <button mat-button (click)="navigateTab('papers')">
        Papers
      </button>
    </div>

    <!-- Mobile Navigation Toggle -->
    <button mat-icon-button class="mobile-menu-button" (click)="toggle()" aria-label="Toggle navigation menu">
      <mat-icon>{{ sidebarVisible ? 'close' : 'menu' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>
