<mat-card *ngFor="let entry of blogEntries" class="blog-entry-card">
  <mat-card-header>
    <mat-card-title>{{ entry.title }}</mat-card-title>
    <mat-card-subtitle>{{ entry.date | date: 'mediumDate' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ entry.summary }}
  </mat-card-content>
  <mat-card-actions>
<!--    TODO: Bring back the functionality once the blog entry component is finished -->
<!--    <button mat-button color="primary" (click)="showEntry(entry)">Read More</button>-->
    <button mat-button color="primary">Read More</button>
  </mat-card-actions>
</mat-card>
